/* BODY */
:root {
  --dark: #2e364c;
  --light: snow;
  --savebtn: #154E52;
  --past: #ac9fb8;
  --present: #d18e54;
  --future: #87A6BB;
  --maroon: #63331c;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--light);
  color: var(--dark);
}

/* HEADER */

header {
  font-weight: bolder;
}

.currentDay {
  color: var(--present);
  font-weight: bold;
}

/* Type Events */

textarea {
  background: transparent;
  border: 1px solid var(--dark);
  resize: none;
  color: var(--dark);
  border-left: 1px solid var(--dark);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--light);
}

.hour {
  background-color: var(--dark);
  color: var(--light);
  font-weight: bolder;
  border-top: 1px dashed var(--dark);
}

.past {
  background-color: var(--past);
  color:var(--light);
}

.present {
  background-color: var(--present);
  color: var(--dark);
}

.future {
  background-color: var(--future);
  color: var(--dark);
}

.saveBtn {
  border-left: 1px solid var(--savebtn);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--savebtn);
  color: var(--light);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
